<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
        <remove statusCode="404" subStatusCode="-1" />
        <error statusCode="404" prefixLanguageFilePath="" path="/error/404.html" responseMode="ExecuteURL" />
    </httpErrors>
</system.webServer>

<system.web>
    <customErrors mode="On" defaultRedirect="error.php" >
        <error statusCode="404" redirect="404.html" />
    </customErrors>
</system.web>


</configuration>